target/

build/
*/src/generated/
/.gradle/

.project
.classpath
.settings/org.eclipse.m2e.core.prefs
*/.classpath
*.prefs

.nb-gradle
.nb-gradle-properties
/healthchecker-entity/api/nbproject/

dependency-reduced-pom.xml
.idea/
*.iml
*.ipr
*.iws
